{% extends 'BernyDemoBundle::layout.html.twig' %}

{% block title 'User list' %}

{% block content %}
    {{ data|ld }}
    {{ form(filter) }}
    <table class="table user-list">
        <thead>
            <tr>
                <th class="col-username">username</td>
                <th class="col-birthday">birthday</td>
                <th class="col-active">is active</td>
                <th class="col-money">money</td>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                <tr>
                    <td class="type-text">{{ user.username }}</td>
                    <td class="type-date">{{ user.birthdate|date('Y-m-d') }}</td>
                    <td class="type-bool">{{ user.active ? '✔' : '✘' }}</td>
                    <td class="type-num">{{ user.money|format('') }}</td>
                </tr>
            {% endfor %}
            <tr></tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
    <script>
        jQuery(function($) {
            function processCriteria(criteria) {
                criteria.append('<a href="#" class="remove_criteria">Remove filter</a>');
            }

            function processFilter(filter) {
                var criteria = filter.find('.criteria');
                filter
                    .data('criteriaCount', criteria.length)
                    .prepend('<a href="#" class="add_criteria">Add filter</a>')
                        .on('click', '.add_criteria', eventAdd)
                        .on('click', '.remove_criteria', eventRemove)
                processCriteria(criteria.parent());
            }

            function eventAdd(e) {
                var filters = $(e.delegateTarget),
                    counter = filters.data('criteriaCount') + 1,
                    criteria = $(filters.data('prototype').replace(/__name__/g, counter));

                e.preventDefault();
                filters.data('criteriaCount', counter);
                processCriteria(criteria.appendTo(filters));
            }

            function eventRemove(e) {
                e.preventDefault();
                $(e.currentTarget).parent().remove();
            }

            processFilter($('form .filter'));
        });
    </script>
{% endblock %}